@import "variables";
@import "mixins";

body {
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    color: $black2;
}

.container {
    max-width: 60em;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: flex;
    padding: 0 1.25em;    
}

img {
    max-width: 100%;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

/* Header */
header {
    height: 50px;
    background-color: #16a085;
    padding: 0 20px;
    a {
    margin: 0;
    color: #fff;
    line-height: 50px;
    font-size: 1.5em;
        .search {
            position: absolute;
            right: 20px;
            .fa-search {
                color: #fff;
                line-height: 48px;
                width: 2em;
            }
        }
    }   
}














































