body {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
}

.container {
  max-width: 64em;
  margin: 0 auto;
  position: relative;
  text-align: center;
  display: flex;
  padding: 0 1.25em;
}

img {
  max-width: 100%;
}

a {
  color: #333333;
}

.btn {
  display: inline-block;
  margin-top: 0;
  padding: 0.3em 0.9em;
  border-radius: 0.25em;
  box-shadow: 0 0 0.325em 0.13em rgba(0, 0, 0, 0.1);
  height: auto;
  background-color: #ffffff;
  transition: background-color .5s;
}

.btn:hover {
  background-color: #16a085;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

/* Header */
header {
  height: 50px;
  background-color: #16a085;
  padding: 0 20px;
}

header a {
  margin: 0;
  color: #fff;
  line-height: 50px;
  font-size: 1.5em;
}

header .search {
  position: absolute;
  right: 20px;
}

header .search a {
  font-size: .8em;
}

header .search a .fa-search {
  color: #fff;
  line-height: 48px;
  width: 2em;
}

/* End Header */
/* Navigation */
nav {
  position: absolute;
  top: -50px;
  right: 50px;
  z-index: 10;
}

nav::after {
  content: '';
  display: block;
  clear: both;
}

nav ul li {
  transition: background-color .5s;
}

nav ul li a {
  text-align: left;
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  width: 250px;
  /* -> width sub menu */
  position: relative;
}

nav ul li:hover > ul {
  display: block;
  /* Display sub menu waktu di hover */
  background-color: #fff;
  box-shadow: 0 0 0.325em 0.13em rgba(0, 0, 0, 0.1);
}

nav ul ul {
  position: absolute;
  /* -> Posisi sub menu */
  top: 100%;
  background-color: #16a085;
  display: none;
  /*  Hide sub menu */
}

nav ul ul li {
  position: relative;
}

nav ul ul li a {
  color: #16a085;
}

nav ul ul li a:hover {
  color: #ffffff;
  background-color: rgba(22, 160, 133, 0.8);
}

nav > ul > li {
  float: left;
}

nav > ul > li > a {
  width: auto;
  /* adjust width menu */
  padding: 17px 20px 17px 20px;
}

nav > ul > li > a:hover {
  color: rgba(22, 160, 133, 0.8);
  background-color: #ffffff;
}

nav li:hover > ul.drop-menu.menu-1 {
  perspective: 1000px;
}

nav li:hover > ul.drop-menu.menu-1 li {
  opacity: 0;
}

nav li:hover > ul.drop-menu.menu-1 li:nth-child(1) {
  animation-name: menu1;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

nav li:hover > ul.drop-menu.menu-1 li:nth-child(2) {
  animation-name: menu1;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

nav li:hover > ul.drop-menu.menu-1 li:nth-child(3) {
  animation-name: menu1;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

nav li:hover > ul.drop-menu.menu-1 li:nth-child(4) {
  animation-name: menu1;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

nav li:hover > ul.drop-menu.menu-1 li:nth-child(5) {
  animation-name: menu1;
  animation-duration: 1250ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

nav li:hover > ul.drop-menu.menu-1 li:nth-child(6) {
  animation-name: menu1;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes menu1 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(30px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
  }
}

nav sup.textUp {
  font-size: .8em;
  font-weight: 700;
}

/* End Navigation */
/* Left side bar */
.leftSidebar {
  margin-top: 1.25em;
  border-radius: 0.25em;
  margin-right: 1.25em;
  height: auto;
}

.leftSidebar .leftSidebar1 {
  background-color: #ffffff;
  border: 1px solid #c6c4c4;
  border-radius: 0.25em;
  box-shadow: 0 0 0.325em 0.13em rgba(0, 0, 0, 0.1);
}

.leftSidebar .leftSidebar1 figure {
  width: 5em;
  height: auto;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: -2.8125em;
}

.leftSidebar .leftSidebar1 .title {
  margin-bottom: 1em;
}

.leftSidebar .leftSidebar1 h3 {
  padding: 0 1.5em 0 1.5em;
  font-size: 1em;
  margin-bottom: 0;
  color: #16a085;
}

.leftSidebar .leftSidebar1 h3.name {
  color: #333333;
  margin-top: 0.625em;
}

.leftSidebar .leftSidebar1 h4 {
  font-size: .85em;
  margin-top: 1em;
}

.leftSidebar .leftSidebar1 h4.friends {
  margin-top: 0.3125em;
}

.leftSidebar .leftSidebar1 h4:last-child {
  margin-bottom: 0.9375em;
}

.leftSidebar .leftSidebar1 img {
  width: 5em;
  height: auto;
}

.leftSidebar .leftSidebar1 .bg {
  border-radius: 0.25em 0.25em 0 0;
  background-color: #16a085;
  height: 3.875em;
}

.leftSidebar .leftSidebar1 hr {
  display: block;
  height: 0.0625em;
  border-color: #f5f5f5;
}

.leftSidebar .leftSidebar2 {
  margin-top: 1.25em;
  background-color: #16a085;
  border: 0.0625em solid #c6c4c4;
  border-radius: .25em;
  box-shadow: 0 0 0.325em 0.13em rgba(0, 0, 0, 0.1);
  padding: 0.9375em 1.25em;
}

.leftSidebar .leftSidebar2 h3 {
  font-size: .9em;
  margin-bottom: 0;
  color: #ffffff;
  float: left;
  line-height: 30px;
}

.leftSidebar .leftSidebar2 h4 {
  color: #16a085;
  float: right;
  font-size: .7em;
  line-height: 1.8em;
  background-color: #ffffff;
  border-radius: 50%;
  width: 1.875em;
  height: 1.875em;
}

/* End Left side bar */
/* Status update */
.status {
  margin-top: 1.25em;
  border-radius: 0.25em;
  /* Status1 */
  /* End Status1 */
}

.status h4 {
  text-align: left;
}

.status a {
  font-size: .9em;
  padding: .5em;
}

.status a:hover {
  color: #ffffff;
}

.status .fa {
  font-size: .9em;
}

.status input[type="text"] {
  width: 100%;
  font-size: .8em;
  height: 2.3em;
  padding-left: 0.625em;
  margin: 0.9375em 0;
}

.status .form {
  background-color: #ffffff;
  padding: 1.25em;
  text-align: left;
  border: 0.0625em solid #c6c4c4;
  border-radius: 0.25em;
  box-shadow: 0 0 0.325em 0.13em rgba(0, 0, 0, 0.1);
  height: 9.375em;
}

.status .form legend {
  font-weight: 500;
}

.status .bgImg {
  padding: 1.25em 1.25em .25em 1.25em;
}

.status .like {
  margin-top: 1em;
}

.status .status1, .status .status2, .status .status3 {
  margin-top: 1.25em;
  text-align: left;
  border: 0.0625em solid #c6c4c4;
  border-radius: 0.25em;
  box-shadow: 0 0 0.325em 0.13em rgba(0, 0, 0, 0.1);
  height: auto;
  background-color: #ffffff;
}

.status .status1 .status1Name, .status .status2 .status1Name, .status .status3 .status1Name {
  margin-top: 1.25em;
  padding: 0 1.25em;
}

.status .status1 .status1Name img, .status .status2 .status1Name img, .status .status3 .status1Name img {
  float: left;
  width: 4em;
  height: auto;
  border-radius: 50%;
}

.status .status1 .status1Name h3, .status .status2 .status1Name h3, .status .status3 .status1Name h3 {
  font-size: 1em;
  float: left;
  line-height: 4em;
  margin-left: 20px;
}

.status .status1 .status1Name h4, .status .status2 .status1Name h4, .status .status3 .status1Name h4 {
  font-size: .9em;
  float: right;
  line-height: 4.5em;
}

.status .status1 p, .status .status2 p, .status .status3 p {
  text-align: justify;
  padding: 1em 1.25em 0 1.25em;
}

.status .status1 .bgImg1, .status .status2 .bgImg1, .status .status3 .bgImg1 {
  padding: 1.25em 1.25em 0 1.25em;
}

.status .status1 .like, .status .status2 .like, .status .status3 .like {
  padding: 0 1.25em 1.25em 1.25em;
  text-align: center;
}

.status .status1 .like a, .status .status2 .like a, .status .status3 .like a {
  font-size: .9em;
  margin: .3em;
}

/* End Status update */
/* Right side bar */
.rightSidebar {
  margin-top: 1.25em;
  margin-left: 1.25em;
  height: auto;
}

.rightSidebar .rightSidebar1, .rightSidebar .rightSidebar2 {
  padding: 1.5em 2.5em;
  background-color: #ffffff;
  box-shadow: 0 0 0.325em 0.13em rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
}

.rightSidebar .rightSidebar1 h4, .rightSidebar .rightSidebar2 h4 {
  padding-top: 0;
  padding-bottom: 0.375em;
}

.rightSidebar .rightSidebar1 p, .rightSidebar .rightSidebar2 p {
  line-height: 1.5em;
  color: #16a085;
}

.rightSidebar .rightSidebar1 h4 {
  color: #16a085;
}

.rightSidebar .rightSidebar1 ul a {
  font-size: .9em;
  color: #16a085;
}

.rightSidebar .rightSidebar2 {
  margin-top: 1.25em;
}

.rightSidebar .rightSidebar2 img {
  border-radius: 50%;
  width: 4em;
  height: auto;
  margin: 0.625em 0;
}

.rightSidebar .rightSidebar2 ul li {
  display: inline-block;
}

.rightSidebar .rightSidebar2 h5 {
  margin-top: 0.625em;
}

.rightSidebar .rightSidebar2 h5 a {
  color: #333333;
}

.rightSidebar .rightSidebar2 .fa {
  margin-top: 0.625em;
  padding: 0 0.3125em;
}

.rightSidebar .rightSidebar2 .fa-check-circle {
  color: #16a085;
}

.rightSidebar .rightSidebar2 .fa-times-circle {
  color: #a0161d;
}

.rightSidebar .rightSidebar3 {
  margin-top: 1.25em;
  padding: 1.8em 1.25em;
  background-color: #ffffff;
  box-shadow: 0 0 0.325em 0.13em rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
}

.rightSidebar .rightSidebar3 a {
  color: #333333;
}

/* End Right side bar */
footer {
  margin-top: 3em;
  height: 3em;
  line-height: 3em;
  color: #ffffff;
  text-align: center;
  background-color: #16a085;
}

@media screen and (min-width: 769px) {
  .bgImg .wrapper1 {
    height: 15.1875em;
    width: 100%;
    background: url(../images/beach.jpg) no-repeat center;
    background-size: cover;
  }
  .bgImg .wrapper2 {
    height: 15.1875em;
    width: 100%;
    background: url(../images/cliff.jpg) no-repeat center;
    background-size: cover;
  }
}

/* End 769px */
@media screen and (max-width: 768px) {
  .status .form {
    width: 100%;
  }
  .status .form a {
    font-size: .8em;
    padding: .5em .8em;
  }
  .status p {
    font-size: .9em;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .leftSidebar, .status1, .status2, .status3, .rightSidebar, .rightSidebar1, .rightSidebar2, .rightSidebar3 {
    width: 100%;
  }
  .leftSidebar {
    order: 3;
    margin-right: 0;
  }
  .rightSidebar {
    order: 1;
    margin-left: 0;
  }
  .bgImg .wrapper1, .bgImg .wrapper2 {
    height: 15.1875em;
    background-size: cover;
  }
  .bgImg .wrapper1 {
    background: url(../images/beach80%25%20.jpg) no-repeat center;
  }
  .bgImg .wrapper2 {
    background: url(../images/ciff80%25%20.jpg) no-repeat center;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    display: none;
  }
  nav {
    left: 1.25em;
  }
}

/*# sourceMappingURL=style.css.map */